/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/.qmake.stash
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/ControlFrame.obj
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/main.obj
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/mainwindow.obj
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_ControlFrame.cpp
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_ControlFrame.obj
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_mainwindow.cpp
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_mainwindow.obj
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_predefs.h
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/PrinterClient.exe
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/PrinterClient.ilk
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/PrinterClient.pdb
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/PrinterClient.vc.pdb
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Debug
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Release
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/ui_ControlFrame.h
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/ui_mainwindow.h
/PrinterClient/PrinterClient.pro.user
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_TCPClient.cpp
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_TCPClient.obj
/build-PrinterClient-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/TCPClient.obj
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/.qmake.stash
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/main.obj
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/mainwindow.obj
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_mainwindow.cpp
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_mainwindow.obj
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_predefs.h
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/PrinterServer.exe
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/PrinterServer.ilk
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/PrinterServer.pdb
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/PrinterServer.vc.pdb
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Debug
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Release
/build-PrinterServer-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/ui_mainwindow.h
/PrinterServer/PrinterServer.pro.user
